table.ingredients {
  border-collapse: separate;
  border-spacing: 5px;
}
table.ingredients > tbody > tr > td {
  padding: 5px;
}
.ingredients-page .ingredient-name > div {
  display: flex;
  justify-content: space-between;
}
.ingredients-page .ingredient-name {
  border: 1px solid #ccc;
  width: 200px;
}
.ingredients-page .ingredient-unit {
  border: 1px solid #ccc;
  width: 90px;
}
.ingredients-page .ingredient-name-text {
  font-weight: bold;
}
.toggle-form-button {
  margin: 5px;
  width: 150px;
}
.ingredient-details-arrow {
  margin-left: 5px;
  cursor: pointer;
}
.details-container {
  margin: 4px;
  display: flex;
  flex-direction: column;
}
.add-ingredient-form-container {
  padding: 5px;
  margin: 5px;
  width: 80%;
  max-width: 720px;
  border: 2px solid #07889B;
  border-radius: 4px;
  color: #07889B;
}
.ingredients-page .add-ingredient-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ingredient-name-field,
.ingredient-unit-field {
  flex: 1 0 200px;
  height: 30px;
  margin-right: 10px;
}
.ingredient-unit-field {
  flex: 0 0 80px;
}
.button-add {
  margin-right: 10px;
}
.ingredients .form-field {
  height: 24px;
  font-size: 16px;
}
table.ingredients input {
  width: 300px;
}