

.day-box {
  border: 1px solid #07889B;
  margin: 10px;
  padding: 5px;
}

.day-box-table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0px;
}

.day-box-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-title {
  font-size: 18px;
}

.day-title .zoom-icon {
  margin-left: 10px;
  color: green;
}

.day-title .back-icon {
  margin-right: 10px;
  color: #2a93a0;
}

.day-title > td {
  padding: 2px;
}

.day-title > td > div {
  padding: 10px 5px;
  border: 1px solid #07889B;
}

.day-title-date {
  font-weight: bold;
}

.person-name {
  padding: 2px;
}

.person-name > div {
  padding: 5px;
  border: 1px solid #ccc;
}

.meal-row-hover {
  background-color: #eee;
}

.meal-name {
  padding: 2px;
  width: 30px;
  font-weight: bold;
  color: #777;
  height: 50px;
}

.person-row-spacer {
  width: 20px;
  margin: 2px;
}

.meal-name > a,
.meal-name > a:link,
.meal-name > a:hover,
.meal-name > a:visited,
.meal-name > a:active {
  display: flex;
  border: 1px solid #07889B;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #07889B;
  text-decoration: none;
}

td.meal-person-cell {
  white-space: nowrap;
  padding: 2px;
}

td.meal-person-cell a {
  display: block;
  width: inherit;
  height: 50px;
  padding: 4px;
  border: 1px solid #ccc;
  font-weight: 300;
  color: #fff;
}

.cell-packed-meal {
  background-color: #8fd083;
}

.cell-outside-meal {
  background-color: #4c819a;
}

.meal-dish {
  overflow: hidden;
  text-overflow: ellipsis;
}

.create-new-meal-cell {
  padding: 2px;
}

.create-new-meal-cell a {
  height: 50px;
  padding: 4px;
  color: #666;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}