body {
  font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #555;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.main-container {
  width: 100%;
  height: 100%;
}

.menu-bar {
  display: flex;
  background-color: #777;
}

.menu-bar > div {
  flex: 0 0 100px;
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #555;
}

.menu-bar > div:hover {
  background-color: #333;
}

.menu-bar a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}

.menu-bar a:link,
.menu-bar a:visited,
.menu-bar a:active {
  color: #fff;
}

.calendar-container {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  justify-content: center;
}

.day-box {
  border: 1px solid #ccc;
  margin: 10px;
  padding: 5px;
}

.day-box-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 5px;
}

.day-box-table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.day-title {
  font-size: 18px;
}

.day-title .zoom-icon {
  margin-left: 10px;
  color: green;
}

.day-title .back-icon {
  margin-right: 10px;
  color: #2a93a0;
}

.day-title > td {
  padding: 10px 5px;
  border: 1px solid #ccc;
  margin: 2px;
}

.day-title-date {
  font-weight: bold;
}

.person-name {
  padding: 5px;
  border: 1px solid #ccc;
  margin: 2px;
}

.meal-row-hover {
  background-color: #eee;
}

.meal-name {
  margin: 2px;
  width: 20px;
  font-weight: bold;
  color: #777;
  border: 1px solid #ccc;
}

.person-row-spacer {
  width: 20px;
  margin: 2px;
}

.meal-name > a,
.meal-name > a:hover,
.meal-name > a:visited,
.meal-name > a:active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #777;
  text-decoration: none;
}
.meal-person-cell {
  height: 50px;
  white-space: nowrap;
  margin: 2px;
  padding: 5px;
}

.cell-packed-meal {
  background-color: #8fd083;
}

.cell-outside-meal {
  background-color: #4c819a;
}

.meal-dish {
  overflow: hidden;
  text-overflow: ellipsis;
  width: inherit;
}