body {
  font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  box-sizing: border-box;
}

a, td, tr, div, span, input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

input {
  height: 25px;
  font-size: 16px;
}

.main-container {
  width: 100%;
  height: 100%;
}

.content-container {
  margin: 10px 20px;
}

.menu-bar {
  display: flex;
  background-color: #e37222;
}

.menu-bar > div {
  flex: 0 0 100px;
  display: block;
  padding: 5px;
  margin: 5px;
}

.menu-bar > div:hover {
  background-color: #eeaa7b;
}

.menu-bar a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.menu-bar a:link,
.menu-bar a:visited,
.menu-bar a:active {
  color: #fff;
}

.button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-warm {
  color: #fff;
  background-color: #e37222;
}

.button-warm:hover {
  background-color: #eeaa7b;
}

.button-cool {
  color: #fff;
  background-color: #07889B;
}

.button-cool:hover {
  background-color: #66B9BF;
}

.button-neutral {
  color: #fff;
  background-color: #666;
}

.button-neutral:hover {
  background-color: #888;
}

.calendar-container {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}