body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a, td, tr, div, span, input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

input {
  height: 25px;
  font-size: 16px;
  color: #555;
  font-weight: 300;
}

.main-container {
  width: 100%;
  height: 100%;
}

.content-container {
  margin: 10px 20px;
}

.menu-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #e37222;
}

.menu-bar-left {
  display: flex;
  margin-left: 20px;
}

.menu-bar-right {
  display: flex;
  margin-right: 20px;
}

.menu-bar a:hover {
  background-color: #eeaa7b;
}

.menu-bar a {
  margin: 0 20px;
  padding: 8px;
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.menu-bar-left a:first-child {
  margin-left: 0px;
}

.menu-bar-right a:last-child {
  margin-right: 0px;
}

.menu-bar a:link,
.menu-bar a:visited,
.menu-bar a:active {
  color: #fff;
}

.button {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.button-warm {
  color: #fff;
  background-color: #e37222;
}

.button-warm:hover {
  background-color: #eeaa7b;
}

.button-cool {
  color: #fff;
  background-color: #07889B;
}

.button-cool:hover {
  background-color: #66B9BF;
}

.button-neutral {
  color: #fff;
  background-color: #666;
}

.button-neutral:hover {
  background-color: #888;
}

.calendar-container {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}