body {
  font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
  box-sizing: border-box;
}

a, td, tr, div, span, input {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:link,
a:visited,
a:active {
  color: #555;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

.main-container {
  width: 100%;
  height: 100%;
}

.content-container {
  margin: 10px 20px;
}

.menu-bar {
  display: flex;
  background-color: #777;
}

.menu-bar > div {
  flex: 0 0 100px;
  display: block;
  padding: 5px;
  margin: 5px;
  background-color: #555;
}

.menu-bar > div:hover {
  background-color: #333;
}

.menu-bar a {
  color: #fff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  cursor: pointer;
}

.menu-bar a:link,
.menu-bar a:visited,
.menu-bar a:active {
  color: #fff;
}

.button {
  border: 1px solid #cdc;
  padding: 5px;
}

.calendar-container {
  display: flex;
  margin: 25px auto;
  flex-wrap: wrap;
  justify-content: flex-start;
}