.item-select {
  cursor: pointer;
}

.selected-item {
  border: 1px solid #ccc;
  position: relative;
  padding: 0 5px;
  top: 50%;
  height: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.option-box {
  position: relative;
  width: 100%;
  left: 0;
  top: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 100;
}

.option-item {
  margin: 2px;
  padding: 3px;
  border: 1px solid #efe;
}

.option-item-selected {
  background-color: #576;
  color: #fff;
}

.option-item:hover {
  color: #222;
  background-color: #cdc;
}