body {
  font-family: 'Open-Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #555;
}

.calendar-container {
  display: flex;
  width: 85%;
  margin: 25px auto;
  justify-content: center;
}

.calendar-day-box {
  flex: 0 1 300px;
  border: 1px solid #ccc;
}

.day-title {
  font-size: 18px;
}

.day-title .fa {
  margin-left: 10px;
  color: green;
}

.day-title > td {
  padding: 10px 5px;
}

.day-title-date {
  font-weight: bold;
}

.people-row {
  display: flex;
}

.person-name {
  flex: 1 1 75px;
  padding: 5px;
}

.meal-row {
  display: flex;
}

.meal-person-cell {
  height: 50px;
  white-space: nowrap;
  margin: 2px;
  padding: 5px;
}

.cell-packed-meal {
  background-color: #8fd083;
}

.cell-outside-meal {
  background-color: #4c819a;
}

.meal-dish {
  overflow: hidden;
  text-overflow: ellipsis;
}