.calendar-container {
  display: flex;
}

.calendar-day-box {
  flex: 0 1 300px;
  border: 1px solid #ccc;
}

.day-title {
  font-size: 16px;
}

.people-row {
  display: flex;
}

.person-name {
  flex: 1 1 75px;
}

.meal-row {
  display: flex;
}

.meal-person-cell {
  width: 100px;
  height: 50px;
  white-space: nowrap;
  margin: 2px;
  padding: 5px;
}

.cell-packed-meal {
  background-color: #8fd083;
}

.cell-outside-meal {
  background-color: #4c819a;
}

.meal-dish {
  overflow: hidden;
  text-overflow: ellipsis;
}