table.dishes {
  border-collapse: separate;
  border-spacing: 5px;
}
table.dishes > tbody > tr > td {
  padding: 5px;
}
td.dish-name {
  margin: 10px;
  border: 1px solid #ccc;
  min-width: 200px;
}
td.dish-name > div {
  display: flex;
  justify-content: space-between;
}
.dish-name-text {
  font-weight: bold;
}
td.button-cell {
  vertical-align: top;
}
.add-dish-button {
  padding: 5px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}
.add-dish-button:hover {
  background-color: #efe;
}
.dish-details-arrow {
  margin-left: 5px;
  cursor: pointer;
}
.details-container {
  margin: 4px;
  display: flex;
  flex-direction: column;
}
.add-dish-form-container {
  margin: 5px;
  padding: 10px;
  display: flex;
  max-width: 80%;
  border: 1px solid #ccc;
  flex-direction: column;
}
.add-dish-form-row {
  display: flex;
  flex-direction: row;
  margin: 10px 0;
}
.add-dish-form-row.section-title {
  font-weight: 700;
}
.add-dish-form-row.own-ingredient-row {
  margin-top: 0;
}

.add-dish-form-container .dish-name-field {
  flex: 0 1 400px;
  height: 30px;
  font-size: 16px;
  padding-left: 5px;
}

.row-text {
  display: flex;
  align-items: center;
}

.ingredient-number {
  margin-right: 5px;
}

.ingredient-quantity {
  margin: 0 5px;
  height: 25px;
  font-size: 16px;
  width: 50px;
}

.new-dish-submit {
  width: 150px;
}

.new-dish-cancel {
  width: 150px;
  margin-left: 10px;
}

.own-ingredient {
  display: flex;
  align-items: flex-start;
}

.own-ingredient-text {
  font-size: 14px;
  color: #777;
}

.own-ingredient .fa {
  margin-right: 10px;
}

.num-servings-input {
  width: 40px;
  margin: 0 10px;
  padding-left: 5px;
}